@import "../../colors.scss";  

.header {
  background-color: $color-background-inverse;
  height: 50px;
  color: white;
  text-align: center;
}

.title {
  color: $color-text-placeholder;
  font-size: 1.5em;
  line-height: 50px;
  vertical-align: center;
}
