@import "colors.scss";

.wrapper {
  margin: 0;
  padding: 0;
}

.content {
  display: flex;
  align-items: stretch;
  box-sizing: border-box;
  align-content: strentch;
  flex-wrap: wrap;
  min-height: calc(100vh - 50px);
}
